<div class="number-input-wrapper">
  <label *ngIf="labelKey" class="number-input-label">
    {{ labelKey | translate }}
    <span *ngIf="required" class="required-mark">*</span>
  </label>
  <div class="number-input-container">
    <input
      type="number"
      [value]="displayValue"
      [placeholder]="placeholderKey ? (placeholderKey | translate) : ''"
      [required]="required"
      [disabled]="disabled"
      [min]="min"
      [max]="max"
      [step]="step"
      (input)="onValueChange($event)"
      class="number-input-field"
      [class.error]="errorKey"
    />
    <span *ngIf="unit" class="number-input-unit">{{ unit }}</span>
  </div>
  <span *ngIf="errorKey" class="number-input-error">
    {{ errorKey | translate }}
  </span>
</div>
