<div class="number-input-wrapper">
  @if (labelKey) {
  <label class="number-input-label">
    {{ labelKey | translate }}
    @if (!readonly && required) {
      <span class="required-mark">*</span>
    }
  </label>
}
  <div class="number-input-container">
    <input
      type="number"
      [formControl]="internalControl"
      [placeholder]="placeholderKey ? (placeholderKey | translate) : ''"
      [required]="required"
      [attr.disabled]="disabled"
      [readonly]="readonly"
      [attr.min]="min"
      [attr.max]="max"
      [step]="step"
      class="number-input-field"
      [class.error]="errorKey"
      [class.dirty]="isDirty"
      (change)="onValueChange($event)"
    />
    @if (unit) {
      <span class="number-input-unit">{{ unit }}</span>
    }
  </div>
  @if (errorKey) {
    <span class="number-input-error">
      {{ errorKey | translate }}
    </span>
  }
</div>
