<div class="color-input-wrapper">
  @if (labelKey) {
  <label class="color-input-label">
    {{ labelKey | translate }}
  </label>
}
  <div class="color-input-container">
    <input
      type="color"
      [formControl]="internalControl"
      [attr.disabled]="disabled"
      [readonly]="readonly"
      class="color-input-field"
      [class.invalid]="!isValid"
      [class.dirty]="isDirty"
      (change)="onValueChange($event)"
    />
    <input
      type="text"
      [formControl]="internalControl"
      [attr.disabled]="disabled"
      [readonly]="readonly"
      class="color-text-field"
      [class.invalid]="!isValid"
      [class.dirty]="isDirty"
      maxlength="7"
      placeholder="#000000"
      (change)="onValueChange($event)"
    />
  </div>
  @if (!isValid && errorKey) {
    <span class="color-input-error">
      {{ errorKey | translate }}
    </span>
  }
</div>
