<main class="dress-list-container">
  <div class="page-header">
    <h1>{{ 'dresses.list.title' | translate }}</h1>
    <a routerLink="/dresses/new" class="btn btn-primary">
      {{ 'dresses.list.add' | translate }}
    </a>
  </div>

  <app-pro-table
    [columns]="columns"
    [data]="dresses()"
    [sortOptions]="sortOptions"
    [pagination]="{ pageSize: pageSize(), pageNumber: pageNumber(), totalItems: totalItems() }"
    [showDirtyIndicator]="true"
    [filterForm]="filterForm"
    (sortChange)="onSortChange($event)"
    (paginationChange)="onPaginationChange($event)"
    (rowClick)="onRowClick($event)"
    (editClick)="onEditClick($event)"
    (deleteClick)="deleteDress($event.id)"
    (filterApply)="onFilterChange()"
  >
    <div filters>
      <div class="filter-row">
        <app-text-input
          labelKey="dresses.list.filter.title"
          placeholderKey="dresses.list.filter.titlePlaceholder"
          [control]="titleControl"
          [showDirtyIndicator]="true"
        />
        <app-text-input
          labelKey="dresses.list.filter.sku"
          placeholderKey="dresses.list.filter.skuPlaceholder"
          [control]="skuControl"
          [showDirtyIndicator]="true"
        />
        <app-text-input
          labelKey="dresses.list.filter.size"
          placeholderKey="dresses.list.filter.sizePlaceholder"
          [control]="sizeControl"
          [showDirtyIndicator]="true"
        />
        <app-color-input
          labelKey="dresses.list.filter.color"
          placeholderKey="dresses.list.filter.colorPlaceholder"
          [control]="colorControl"
          [showDirtyIndicator]="true"
        />
      </div>
      <div class="filter-row">
        <app-number-input
          labelKey="dresses.list.filter.minStock"
          placeholderKey="dresses.list.filter.minStockPlaceholder"
          [control]="minStockControl"
          [showDirtyIndicator]="true"
          [min]="0"
        />
        <app-number-input
          labelKey="dresses.list.filter.maxStock"
          placeholderKey="dresses.list.filter.maxStockPlaceholder"
          [control]="maxStockControl"
          [showDirtyIndicator]="true"
          [min]="0"
        />
        <app-number-input
          labelKey="dresses.list.filter.minPrice"
          placeholderKey="dresses.list.filter.minPricePlaceholder"
          [control]="minPriceControl"
          [showDirtyIndicator]="true"
          [min]="0"
          [decimalPlaces]="2"
        />
        <app-number-input
          labelKey="dresses.list.filter.maxPrice"
          placeholderKey="dresses.list.filter.maxPricePlaceholder"
          [control]="maxPriceControl"
          [showDirtyIndicator]="true"
          [min]="0"
          [decimalPlaces]="2"
        />
      </div>
    </div>
  </app-pro-table>
</main>
