<main class="dress-list-container">
  <app-pro-table
    [columns]="columns"
    [data]="dresses()"
    [sortOptions]="sortOptions"
    [pagination]="{ pageSize: pageSize(), pageNumber: pageNumber(), totalItems: totalItems() }"
    [showDirtyIndicator]="true"
    [filterForm]="filterForm"
    [titleKey]="'dresses.list.title'"
    [addLink]="'/dresses/new'"
    [addLabelKey]="'dresses.list.add'"
    (sortChange)="onSortChange($event)"
    (paginationChange)="onPaginationChange($event)"
    (rowClick)="onRowClick($event)"
    (editClick)="onEditClick($event)"
    (deleteClick)="deleteDress($event.id)"
    (filterApply)="onFilterChange()"
  >
    <div filters>
      <div class="filter-row">
        <app-text-input
          labelKey="dresses.list.filter.title"
          placeholderKey="dresses.list.filter.titlePlaceholder"
          [control]="getControl('title')"
          [showDirtyIndicator]="true"
        />
        <app-text-input
          labelKey="dresses.list.filter.sku"
          placeholderKey="dresses.list.filter.skuPlaceholder"
          [control]="getControl('sku')"
          [showDirtyIndicator]="true"
        />
        <app-text-input
          labelKey="dresses.list.filter.size"
          placeholderKey="dresses.list.filter.sizePlaceholder"
          [control]="getControl('size')"
          [showDirtyIndicator]="true"
        />
        <app-color-input
          labelKey="dresses.list.filter.color"
          placeholderKey="dresses.list.filter.colorPlaceholder"
          [control]="getControl('color')"
          [showDirtyIndicator]="true"
        />
      </div>
      <div class="filter-row">
        <app-number-input
          labelKey="dresses.list.filter.minStock"
          placeholderKey="dresses.list.filter.minStockPlaceholder"
          [control]="getControl('minStock')"
          [showDirtyIndicator]="true"
        />
        <app-number-input
          labelKey="dresses.list.filter.maxStock"
          placeholderKey="dresses.list.filter.maxStockPlaceholder"
          [control]="getControl('maxStock')"
          [showDirtyIndicator]="true"
        />
        <app-number-input
          labelKey="dresses.list.filter.minPrice"
          placeholderKey="dresses.list.filter.minPricePlaceholder"
          [control]="getControl('minPrice')"
          [showDirtyIndicator]="true"
          [decimalPlaces]="2"
        />
        <app-number-input
          labelKey="dresses.list.filter.maxPrice"
          placeholderKey="dresses.list.filter.maxPricePlaceholder"
          [control]="getControl('maxPrice')"
          [showDirtyIndicator]="true"
          [decimalPlaces]="2"
        />
      </div>
    </div>
  </app-pro-table>
</main>
