@if (loading()) {
  <div class="loading">Loading...</div>
} @else {
  <div class="dynamic-form">
    @for (group of groups(); track group.id) {
       <app-collapsible-section
       [showActions]="showActions"
          [titleKey]="group.name"
          [isEditMode]="!isGroupEditing(group.id)"
          [isValid]="isGroupValid(group.id)"
          (save)="saveGroup(group.id)"
          (cancel)="resetGroup(group.id)"
          (edit)="toggleGroupEdit(group.id)">
          <div class="form-grid">
            @for (field of group.definitions; track field.id) {
            <div class="field-wrapper">
              @switch (field.type) {
                @case (CustomFieldType.TEXT) {
                  <app-text-input
                    [labelKey]="field.label"
                    [control]="getFormControl(field.id)"
                    [readonly]="!isGroupEditing(group.id)"
                  ></app-text-input>
                }
                @case (CustomFieldType.NUMBER) {
                  <app-number-input
                    [labelKey]="field.label"
                    [control]="getFormControl(field.id)"
                    [readonly]="!isGroupEditing(group.id)"
                  ></app-number-input>
                }
                @case (CustomFieldType.SELECT) {
                  <app-select-input
                    [labelKey]="field.label"
                    [control]="getFormControl(field.id)"
                    [options]="getOptionsForSelect(field)"
                    [readonly]="!isGroupEditing(group.id)"
                  ></app-select-input>
                }
                @case (CustomFieldType.DATE) {
                  <app-text-input
                    [labelKey]="field.label"
                    [control]="getFormControl(field.id)"
                    [type]="'date'"
                    [readonly]="!isGroupEditing(group.id)"
                  ></app-text-input>
                }
                @case (CustomFieldType.CHECKBOX) {
                  <app-checkbox-input
                    [labelKey]="field.label"
                    [control]="getFormControl(field.id)"
                    [readonly]="!isGroupEditing(group.id)"
                  ></app-checkbox-input>
                }
              }
            </div>
          }
          </div>
        </app-collapsible-section>
    }
  </div>
}
