<main class="user-form-container">
  <h1>{{ (id ? 'users.edit' : 'users.new') | translate }}</h1>

  <form (ngSubmit)="save()" class="user-form">
    <app-text-input
      labelKey="users.form.username"
      placeholderKey="users.form.usernamePlaceholder"
      [control]="getControl('username')"
      [readonly]="!isEditMode"
    />

    <app-select-input
      labelKey="users.form.role"
      [options]="roleOptions"
      [control]="getControl('role')"
      [readonly]="!isEditMode"
    />

    <div class="actions">
      @if (!isEditMode && id) {
        <app-button
          *ngIf="isEditable"
          type="button"
          variant="primary"
          (click)="enableEditMode()">
          {{ 'shared.table.edit' | translate }}
        </app-button>
      }
      @if (isEditMode) {
        <app-button
          type="submit"
          variant="primary">
          {{ 'users.form.save' | translate }}
        </app-button>
        <app-button
          type="button"
          variant="secondary"
          (click)="cancelEdit()">
          {{ 'users.form.cancel' | translate }}
        </app-button>
      }
    </div>
  </form>
</main>
